// 背景色
$sidebar-u-backgroundcolor: #253141;
$sidebar-g-backgroundcolor: #2f3e51;
$mlog-backgroundcolor: #fafafa;
$mform-backgroundcolor: #d2d2d2;
// その他
$white-color: #ffffff;
$btn-color1: #38aef0;
$subinfo-color: #999999;
